<html lang="en">
	<head>
		<link rel="stylesheet" href="dist/css/normalize.css">
		<link rel="stylesheet" href="dist/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	</head>
	<body ng-app="FE14Stuff">
		<script src="dist/js/app.js"></script>


		<div class="maincontent" ng-controller="coreCtrl as g">

			<!-- <pre style="height: 150px; border: 1px solid black; overflow: scroll; font-size: 10px; font-family: 'Monaco'">{{ g.form | json }}</pre> -->

			<div class="form-row">
				<div class="form-col-25">
					<label>Selected Unit: </label>
					<select ng-model="g.form.unit" ng-change="g.selectUnit()">
						<option ng-repeat="(unitKey, unit) in g.CHARS" ng-value="unitKey">{{ unit.name }}</option>
					</select>
				</div>

				<div ng-show="g.unit && g.avatarRequired()">
					<div class="form-col-25">
						<label>Avatar Boon: </label>
						<select ng-model="g.form.avatarBoon" ng-change="g.selectAvatarBoon()">
							<option ng-repeat="(stat, description) in g.AVATAR_MODS.descriptions.Boon" ng-value="stat">{{ description }}</option>
						</select>
					</div>

					<div class="form-col-25">
						<label>Avatar Bane: </label>
						<select ng-model="g.form.avatarBane" ng-change="g.selectAvatarBane()">
							<option ng-repeat="(stat, description) in g.AVATAR_MODS.descriptions.Bane" ng-value="stat">{{ description }}</option>
						</select>
					</div>

					<div class="form-col-25">
						<label>Avatar Talent: </label>
						<select ng-model="g.form.avatarTalent" ng-change="g.selectAvatarTalent()">
							<option ng-repeat="(class, description) in g.AVATAR_TALENTS[g.unit.gender]" ng-value="class">{{ description }}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-row" ng-if="g.unit.gen == 2">
				<div class="form-col-25">
					<label>Parent: </label>
					<select ng-model="g.form.varParent" ng-change="g.selectVarParent()">
						<option ng-repeat="(varParentKey, varParent) in g.getVarParents(g.form.unit)" ng-value="varParentKey">{{ varParent.name }}</option>
					</select>
				</div>

				<div class="form-col-25" ng-if="g.varParent.gen == 2">
					<label>Grandparent: </label>
					<select ng-model="g.form.varGrandparent" ng-change="g.selectVarGrandparent()">
						<option ng-repeat="(varGrandparentKey, varGrandparent) in g.getVarParents(g.form.varParent)" ng-value="varGrandparentKey">{{ varGrandparent.name }}</option>
					</select>
				</div>

			</div>

			<div class="form-row" ng-if="g.unit">
				<div class="form-col-25">
					<label>S Support: </label>
					<select ng-model="g.form.SSupport" ng-change="g.selectSSupport()">
						<option ng-repeat="(supportKey, support) in g.getSSupports(g.form.unit)" ng-value="supportKey">{{ support.name }}</option>
					</select>
				</div>

				<div class="form-col-25" ng-if="g.unit.APlusSupport && g.unit.name.indexOf('Avatar') == -1">
					<label>A+ Support: </label>
					<select ng-model="g.form.APlusSupport" ng-change="g.selectAPlusSupport()">
						<option ng-repeat="(supportKey, support) in g.getAPlusSupports(g.form.unit)" ng-value="supportKey">{{ support.name }}</option>
					</select>
				</div>
			</div>

			<div class="form-row" ng-if="(!g.avatarRequired() || (g.avatarRequired() && g.avatarBoon && g.avatarBane)) && (g.unit.gen == 1 || (g.unit.gen == 2 && g.varParent))">

				<div ng-if="g.unit.gen == 1">
					<h4 class="form-heading">Stats</h4>
					<table class="stat-table">
						<tbody>
							<tr>
								<th></th>
								<th ng-repeat="(statName, statValue) in g.unit.mods">{{ statName }}</th>
							</tr>
							<tr>
								<td>Base mods:</td>
								<td ng-repeat="(statName, statValue) in g.unit.mods">{{ statValue | sign }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div ng-if="g.varParent.gen == 1 || (g.varParent.gen == 2 && g.varGrandparent)">
					<h4 class="form-heading">Stats</h4>
					<table class="stat-table">
						<tbody>
							<tr>
								<th></th>
								<th ng-repeat="(statName, statValue) in g.fixedParent.mods">{{ statName }}</th>
							</tr>

							<tr ng-if="g.varParent.gen == 2 && g.varGrandparent">
								<td>{{ g.fixedGrandparent.name }}'s mods: </td>
								<td ng-repeat="(statName, statValue) in g.fixedGrandparent.mods">{{ statValue | sign }}</td>
							</tr>
							<tr ng-if="g.varParent.gen == 2 && g.varGrandparent">
								<td>{{ g.varGrandparent.name }}'s mods: </td>
								<td ng-repeat="(statName, statValue) in g.varGrandparent.mods">{{ statValue | sign }}</td>
							</tr>
							<tr ng-if="g.varParent.gen == 2 && g.varGrandparent">
								<td>Child mod bonus: </td>
								<td ng-repeat="(statName, statValue) in g.CHILD_MOD_BONUS">{{ statValue | sign }}</td>
							</tr>
							<tr ng-if="g.varParent.gen == 2 && g.varGrandparent" class="table-sumline">
								<td>{{ g.varParent.name }}'s mods: </td>
								<td ng-repeat="(statName, statValue) in g.varParent.mods">{{ statValue | sign }}</td>
							</tr>

							<tr>
								<td>{{ g.fixedParent.name }}'s mods: </td>
								<td ng-repeat="(statName, statValue) in g.fixedParent.mods">{{ statValue | sign }}</td>
							</tr>
							<tr ng-if="g.varParent.gen == 1">
								<td>{{ g.varParent.name }}'s mods: </td>
								<td ng-repeat="(statName, statValue) in g.varParent.mods">{{ statValue | sign }}</td>
							</tr>
							<tr ng-if="g.varParent.gen == 1">
								<td>Child mod bonus: </td>
								<td ng-repeat="(statName, statValue) in g.CHILD_MOD_BONUS">{{ statValue | sign }}</td>
							</tr>
							<tr class="table-sumline">
								<td>Base mods: </td>
								<td ng-repeat="(statName, statValue) in g.unit.mods">{{ statValue | sign }}</td>
							</tr>
						</tbody>
					</table>


				</div>
			</div>






		</div>

	</body>
</html>