	
<form name="g.form" ng-submit="g.form.$valid && g.startBattle()">

<div class="form-row">


<div ng-repeat="id in ['A', 'B']" class="form-col-50">

	<!-- Start lead unit details -->
	<h4 class="form-heading">Lead Unit {{id}}</h4>
	
	<div class="portrait portrait-{{g.leadUnit[id].unitKey}}" ng-class="{'portrait-mirror': id == 'A'}"></div>

	<div>
		Unit:
		<select ng-model="g.leadUnit[id].unitKey"
			ng-change="g.leadUnit[id].setUnit(g.leadUnit[id].unitKey)"
			ng-options="charKey as charObj.name for (charKey, charObj) in g.CHARS" required></select>
	</div>

	<div>Level: <input type="number" ng-model="g.leadUnit[id].level" required></div>
	<div>
		Class:
		<select ng-model="g.leadUnit[id].classKey" 
			ng-change="g.leadUnit[id].setClass(g.leadUnit[id].classKey)"
			ng-options="classKey as classObj.name for (classKey, classObj) in g.leadUnit[id].validClasses" required></select>
	</div>

	<div ng-if="g.leadUnit[id].unitKey.indexOf('Avatar') == 0">
		<span>Boon: </span>
		<select ng-model="g.leadUnit[id].avatarBoon"
			ng-change="g.leadUnit[id].setAvatarInfo()"
			ng-options="stat as description for (stat, description) in g.AVATAR_MODS.descriptions.Boon"></select>

		<span>Bane: </span>
		<select ng-model="g.leadUnit[id].avatarBane"
			ng-change="g.leadUnit[id].setAvatarInfo()"
			ng-options="stat as description for (stat, description) in g.AVATAR_MODS.descriptions.Bane"></select>
	</div>

	<div ng-if="g.leadUnit[id].charObj.gen == 2">
		<span>Parent: </span>
		<select ng-model="g.leadUnit[id].varParent" ng-change="g.leadUnit[id].setVarParent()" name="varParent"
			ng-options="varParent as varParent.name for (varParentKey, varParent) in g.getVarParents(g.leadUnit[id].unitKey)"></select>
	</div>

	<div>Stat Base Values</div>
	<div>HP: <input type="number" ng-model="g.leadUnit[id].baseHP" required></div>
	<div>Str: <input type="number" ng-model="g.leadUnit[id].baseStats.Str" required></div>
	<div>Mag: <input type="number" ng-model="g.leadUnit[id].baseStats.Mag" required></div>
	<div>Skl: <input type="number" ng-model="g.leadUnit[id].baseStats.Skl" required></div>
	<div>Spd: <input type="number" ng-model="g.leadUnit[id].baseStats.Spd" required></div>
	<div>Lck: <input type="number" ng-model="g.leadUnit[id].baseStats.Lck" required></div>
	<div>Def: <input type="number" ng-model="g.leadUnit[id].baseStats.Def" required></div>
	<div>Res: <input type="number" ng-model="g.leadUnit[id].baseStats.Res" required></div>

	<div>Starting HP: <input type="number" ng-model="g.leadUnit[id].currentHP"></div>

	<div>
		Weapon Rank:
		<span ng-repeat="(weaponType, _) in g.leadUnit[id].classObj.weaponRanks">
			<i class="icon-weaponrank icon-weaponrank-{{weaponType}}"></i>
			<select ng-model="g.leadUnit[id].weaponRanks[weaponType]"
				ng-init="g.leadUnit[id].weaponRanks[weaponType] = g.leadUnit[id].weaponRanks[weaponType] || 'E'"
				ng-options="weaponRank as weaponRank for weaponRank in g.getValidWeaponRanks(g.leadUnit[id], weaponType)" required></select>

		</span>
	</div>


	<div ng-repeat="item in g.leadUnit[id].inventory track by $index" class="prep-item-select">
		Inventory #{{$index+1}}:
		<i ng-if="g.leadUnit[id].inventory[$index]" class="icon-item icon-item-{{item.specificType}}"
		uib-popover-template="'views/partials/weapon-popup.html'" popover-trigger="mouseenter" popover-popup-delay="700"></i>
		<select ng-model="g.leadUnit[id].prepInventory[$index].item"
			ng-options="weaponObj as weaponObj.name for (weaponKey, weaponObj) in g.WEAPONS"
			ng-change="g.leadUnit[id].setInventory($index)">
			<option value="">(None)</option>
		</select>
		<span ng-if="g.leadUnit[id].prepInventory[$index].item && !g.leadUnit[id].prepInventory[$index].item.disableForge">
			Forge:
			<select ng-model="g.leadUnit[id].prepInventory[$index].forgeLevel"
				ng-options="num as '+'+num for num in [1,2,3,4,5,6,7]"
				ng-change="g.leadUnit[id].setInventory($index)">
				<option value="">(None)</option>
			</select>
		</span>
		
	</div>



	<div ng-repeat="skill in g.leadUnit[id].skills track by $index">
		<div ng-if="$index == 0">
			Personal Skill: 
			<i class="icon-skill icon-skill-{{$root.formatSkillName(g.leadUnit[id].skills[0].key)}}"
			uib-popover-template="'views/partials/skill-popup.html'" popover-trigger="mouseenter" popover-popup-delay="700"></i>
			<span>{{ g.leadUnit[id].skills[0].name }}</span>
		</div>
		<div ng-if="$index > 0">
			Class Skill: 
			<i ng-if="g.leadUnit[id].skills[$index]" class="icon-skill icon-skill-{{$root.formatSkillName(g.leadUnit[id].skills[$index].key)}}"
			uib-popover-template="'views/partials/skill-popup.html'" popover-trigger="mouseenter" popover-popup-delay="700"></i>
			<select ng-model="g.leadUnit[id].skills[$index]"
				ng-options="skillObj as skillObj.name for (skillKey, skillObj) in g.CLASS_SKILLS"
				ng-change="g.setSkill(g.leadUnit[id], $index, '{{g.leadUnit[id].skills[$index].key}}')">
				<option value="">(None)</option>
			</select>
		</div>
	</div>

	<br/>

	<uib-accordion class="additional-stat-bonuses">
		<uib-accordion-group heading="Additional stat bonuses">
			<div>
				<div>Meal: </div>
				<span ng-repeat="stat in g.stats">
					<span>{{ stat }}: </span>
					<select ng-model="g.leadUnit[id].meal[stat]" ng-options="value for value in [0, 1, 2, 3, -1]">
					</select>
				</span>
			</div>
			<div>
				<span>Surge: </span>
				<select ng-model="g.leadUnit[id].surge.stat1" ng-options="stat for stat in g.stats">
					<option value="">(None)</option>
				</select>
				<select ng-model="g.leadUnit[id].surge.stat2" ng-options="stat for stat in g.stats">
					<option value="">(None)</option>
				</select>
			</div>
		</uib-accordion-group>
	</uib-accordion>

	<div>
		<button type="button" ng-click="g.openSaveUnitModal(g.leadUnit[id])">Save Unit</button>
		<button type="button" ng-click="g.loadSavedUnit('lead', id)">Load Saved Unit</button>
	</div>
	<div class="error-message" ng-bind="g.errorMessages['invalidSaveUnit'+id]"></div>
	



	<br/><br/>
	<input type="checkbox" id="toggleUnit{{id}}Support" ng-model="g.leadUnit[id].supportEnabled" ng-change="g.toggleSupport(id)">
	<label for="toggleUnit{{id}}Support">Enable Support Unit</label>

	<!-- Start support unit details -->
	<div ng-show="g.leadUnit[id].supportEnabled">

		<button type="button" ng-click="g.switchLeadAndSupport(id)">Switch Lead/Support</button>

		<h4 class="form-heading">Support Unit {{id}}</h4>

		<div>
			Stance:
			<input type="radio" id="unit{{id}}AttackStance" ng-model="g.supportUnit[id].supportStance" value="Attack" ng-change="g.setSupportStance(id, 'Attack')">
			<label for="unit{{id}}AttackStance">Attack</label>
			<input type="radio" id="unit{{id}}GuardStance" ng-model="g.supportUnit[id].supportStance" value="Guard" ng-change="g.setSupportStance(id, 'Guard')">
			<label for="unit{{id}}GuardStance">Guard</label>
		</div>

		<div class="portrait portrait-{{g.supportUnit[id].unitKey}}" ng-class="{'portrait-mirror': id == 'A'}"></div>
		<div>
			Unit:
			<select ng-model="g.supportUnit[id].unitKey"
				ng-change="g.supportUnit[id].setUnit(g.supportUnit[id].unitKey)"
				ng-options="charKey as charObj.name for (charKey, charObj) in g.CHARS"
				ng-required="g.leadUnit[id].supportEnabled"></select>
		</div>
		<div ng-if="g.supportUnit[id].unitKey">
			Support Level:
			<select ng-model="g.supportUnit[id].supportLevel"
				ng-change="g.setSupportLevel(id, g.supportUnit[id].supportLevel)"
				ng-options="supportLevel as supportLevel for supportLevel in g.getSupportLevels(g.leadUnit[id], g.supportUnit[id])">
				<option value="">(None)</option>
			</select>
		</div>



		<div>Level: <input type="number" ng-model="g.supportUnit[id].level" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>
			Class:
			<select ng-model="g.supportUnit[id].classKey" 
				ng-change="g.supportUnit[id].setClass(g.supportUnit[id].classKey)"
				ng-options="classKey as classObj.name for (classKey, classObj) in g.supportUnit[id].validClasses"
				ng-required="g.leadUnit[id].supportEnabled"></select>
		</div>

		<div ng-if="g.supportUnit[id].unitKey.indexOf('Avatar') == 0">
			<span>Boon: </span>
			<select ng-model="g.supportUnit[id].avatarBoon"
				ng-change="g.supportUnit[id].setAvatarInfo()"
				ng-options="stat as description for (stat, description) in g.AVATAR_MODS.descriptions.Boon"></select>

			<span>Bane: </span>
			<select ng-model="g.supportUnit[id].avatarBane"
				ng-change="g.supportUnit[id].setAvatarInfo()"
				ng-options="stat as description for (stat, description) in g.AVATAR_MODS.descriptions.Bane"></select>
		</div>

		<div>HP: <input type="number" ng-model="g.supportUnit[id].maxHP" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Str: <input type="number" ng-model="g.supportUnit[id].baseStats.Str" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Mag: <input type="number" ng-model="g.supportUnit[id].baseStats.Mag" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Skl: <input type="number" ng-model="g.supportUnit[id].baseStats.Skl" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Spd: <input type="number" ng-model="g.supportUnit[id].baseStats.Spd" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Lck: <input type="number" ng-model="g.supportUnit[id].baseStats.Lck" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Def: <input type="number" ng-model="g.supportUnit[id].baseStats.Def" ng-required="g.leadUnit[id].supportEnabled"></div>
		<div>Res: <input type="number" ng-model="g.supportUnit[id].baseStats.Res" ng-required="g.leadUnit[id].supportEnabled"></div>

		<div>
			Weapon Rank:
			<span ng-repeat="(weaponType, _) in g.supportUnit[id].classObj.weaponRanks">
				<i class="icon-weaponrank icon-weaponrank-{{weaponType}}"></i>
				<select ng-model="g.supportUnit[id].weaponRanks[weaponType]"
					ng-init="g.supportUnit[id].weaponRanks[weaponType] = g.supportUnit[id].weaponRanks[weaponType] || 'E'"
					ng-options="weaponRank as weaponRank for weaponRank in g.getValidWeaponRanks(g.supportUnit[id], weaponType)"
					ng-required="g.leadUnit[id].supportEnabled">
				</select>

			</span>
		</div>


		 <div ng-repeat="item in g.supportUnit[id].inventory track by $index" class="prep-item-select">
			Inventory #{{$index+1}}:
			<i ng-if="g.supportUnit[id].inventory[$index]" class="icon-item icon-item-{{item.specificType}}"
			uib-popover-template="'views/partials/weapon-popup.html'" popover-trigger="mouseenter" popover-popup-delay="700"></i>
			<select ng-model="g.supportUnit[id].prepInventory[$index].item"
				ng-options="weaponObj as weaponObj.name for (weaponKey, weaponObj) in g.WEAPONS"
				ng-change="g.supportUnit[id].setInventory($index)">
				<option value="">(None)</option>
			</select>
			<span ng-if="g.supportUnit[id].prepInventory[$index].item && !g.supportUnit[id].prepInventory[$index].item.disableForge">
				Forge:
				<select ng-model="g.supportUnit[id].prepInventory[$index].forgeLevel"
					ng-options="num as '+'+num for num in [1,2,3,4,5,6,7]"
					ng-change="g.supportUnit[id].setInventory($index)">
					<option value="">(None)</option>
				</select>
			</span>
			
		</div>

		<div ng-repeat="skill in g.supportUnit[id].skills track by $index">
			<div ng-if="$index == 0">
				Personal Skill: 
				<i class="icon-skill icon-skill-{{$root.formatSkillName(g.supportUnit[id].skills[0].key)}}"
				uib-popover-template="'views/partials/skill-popup.html'" popover-trigger="mouseenter" popover-popup-delay="700"></i>
				<span>{{ g.supportUnit[id].skills[0].name }}</span>
			</div>
			<div ng-if="$index > 0">
				Class Skill: 
				<i ng-if="g.supportUnit[id].skills[$index]" class="icon-skill icon-skill-{{$root.formatSkillName(g.supportUnit[id].skills[$index].key)}}"
				uib-popover-template="'views/partials/skill-popup.html'" popover-trigger="mouseenter" popover-popup-delay="700"></i>
				<select ng-model="g.supportUnit[id].skills[$index]"
					ng-options="skillObj as skillObj.name for (skillKey, skillObj) in g.CLASS_SKILLS">
					<option value="">(None)</option>
				</select>
			</div>
		</div>

		<uib-accordion class="additional-stat-bonuses">
			<uib-accordion-group heading="Additional stat bonuses">
				<div>
					<div>Meal: </div>
					<span ng-repeat="stat in g.stats">
						<span>{{ stat }}: </span>
						<select ng-model="g.supportUnit[id].meal[stat]" ng-options="value for value in [0, 1, 2, 3, -1]">
						</select>
					</span>
				</div>
				<div>
					<span>Surge: </span>
					<select ng-model="g.supportUnit[id].surge.stat1" ng-options="stat for stat in g.stats">
						<option value="">(None)</option>
					</select>
					<select ng-model="g.supportUnit[id].surge.stat2" ng-options="stat for stat in g.stats">
						<option value="">(None)</option>
					</select>
				</div>
			</uib-accordion-group>
		</uib-accordion>

		<div>
			<button type="button" ng-click="g.openSaveUnitModal(g.supportUnit[id])">Save Unit</button>
			<button type="button" ng-click="g.loadSavedUnit('support', id)">Load Saved Unit</button>
		</div>


	</div>

</div>




</div>

<button type="submit" ng-disabled="!g.form.$valid">Start!</button>

</form>

