<div class="maincontent" ng-show="$root.activeState == 'charts'" ng-controller="chartsCtrl as g">
	
<!-- 	<pre style="height: 150px; border: 1px solid black; overflow: scroll; font-size: 10px; font-family: 'Monaco'">{{ g[g.statsView] | json }}</pre>

	<pre style="height: 150px; border: 1px solid black; overflow: scroll; font-size: 10px; font-family: 'Monaco'">{{ g.statsRows | json }}</pre> -->

<!-- 	<pre style="height: 150px; border: 1px solid black; overflow: scroll; font-size: 10px; font-family: 'Monaco'">{{ g.statsParams | json }}</pre> -->


	<div class="stats-filters">
		<div class="statsfilter">
			<span class="filter-option">
				<input type="checkbox" id="statsfilter-tier1" name="statsfilter-tier1" ng-click="g.applyStatsFilter('tier1')">
				<label for="statsfilter-tier1">Tier 1 Classes</label>
			</span>
			<span class="filter-option">
				<input type="checkbox" id="statsfilter-tier2" name="statsfilter-tier2" ng-click="g.applyStatsFilter('tier2')">
				<label for="statsfilter-tier2">Tier 2 Classes</label>
			</span>
			<span class="filter-option">
				<input type="checkbox" id="statsfilter-tierSpecial" name="statsfilter-tierSpecial" ng-click="g.applyStatsFilter('tierSpecial')">
				<label for="statsfilter-tierSpecial">Special Classes</label>
			</span>
		</div>

		<div class="statsfilter">
			<span>Can use: </span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-anyWeapon" name="statsfilter-anyWeapon" ng-click="g.applyStatsFilter('anyWeapon')">
				<label for="statsfilter-anyWeapon">Any</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Sword" name="statsfilter-Sword" ng-click="g.applyStatsFilter('Sword')">
				<label for="statsfilter-Sword">Sword/Katana</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Lance" name="statsfilter-Lance" ng-click="g.applyStatsFilter('Lance')">
				<label for="statsfilter-Lance">Lance/Naginata</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Axe" name="statsfilter-Axe" ng-click="g.applyStatsFilter('Axe')">
				<label for="statsfilter-Axe">Axe/Club</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Dagger" name="statsfilter-Dagger" ng-click="g.applyStatsFilter('Dagger')">
				<label for="statsfilter-Dagger">Dagger/Shuriken</label>			
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Bow" name="statsfilter-Bow" ng-click="g.applyStatsFilter('Bow')">
				<label for="statsfilter-Bow">Bow/Yumi</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Tome" name="statsfilter-Tome" ng-click="g.applyStatsFilter('Tome')">
				<label for="statsfilter-Tome">Tome/Scroll</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Staff" name="statsfilter-Staff" ng-click="g.applyStatsFilter('Staff')">
				<label for="statsfilter-Staff">Staff/Rod</label>
			</span>

			<span class="filter-option">
				<input type="checkbox" id="statsfilter-Stone" name="statsfilter-Stone" ng-click="g.applyStatsFilter('Stone')">
				<label for="statsfilter-Stone">Dragonstone/Beaststone</label>
			</span>
		</div>
	</div>

<br>
<!-- <h4 class="form-heading">{{ g.colDisplayName[g.sm[g.sv].mode] }}</h4> -->

<span>Display: </span>
<select name="statsMode" ng-model="g.sm[g.sv].mode" ng-change="g.changeStatsMode()">
	<option value="maxStats">Class Caps</option>
	<option value="bases">Class Bases</option>
	<option value="growths">Class Growths</option>
</select>

<table class="stat-table">
	<tbody>

		<tr>
			<th ng-click="g.sortBy('name')">Name</th>
			<th ng-repeat="col in g.sm[g.statsView].cols"
				ng-click="g.sortBy(col)">
				<span>{{ g.colDisplayName[col] }}</span>
			</th>
		</tr>

		<tr class="row" ng-repeat="(rowKey, obj) in g.statsRows"
			ng-click="g.selectStatsRow(rowKey)" ng-class="{'selected': g.sm.selectedRows[rowKey]}">
			<td ng-repeat="(colKey, value) in obj">
				<span ng-bind-html="value"></span>
			</td>
		</tr>

	</tbody>
</table>


</div>