@import "compass";

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../../assets/fonts/SourceSansPro-Regular.ttf)
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../../assets/fonts/SourceSansPro-Semibold.ttf)
}


body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

.maincontent {
	max-width: 1200px;
	margin: 30px auto;
	padding: 30px;
	background-color: #eee;
}

.form-row {
	margin-bottom: 20px;
	overflow: hidden;
}

.form-heading {
	font-size: 20px;
	margin: 10px 0;
}

.form-col-25 {
	float: left;
	width: 25%;
}
.form-col-50 {
	float: left;
	width: 50%;
}

.stat-table {
	border-spacing: 0;

	th {
		font-weight: bold;
	}
	th, td {
		min-width: 40px;
		padding: 4px;
		text-align: center;
	}
	tr.table-sumline td {
		border-top: 1px solid #000;
	}

	td {
		&.pos {
			color: #086;
		}
		&.neg {
			color: #900;
		}
		&.neu {
			color: #555;
		}
		&.stat-total {
			font-weight: bold;
		}
	}
}






