@import "compass";

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../../assets/fonts/SourceSansPro-Regular.ttf)
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../../assets/fonts/SourceSansPro-Semibold.ttf)
}


body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	// @media screen and (max-width: 767px) {
	// 	font-size: 14px;
	// }
}

.maincontent {
	max-width: 1200px;
	margin: 30px auto;
	padding: 30px;
	background-color: #eee;

	@media screen and (min-width: 375px) and (max-width: 767px) {
		padding: 20px;
	}
	@media screen and (max-width: 374px) {
		padding: 10px;
	}
}

.form-row {
	margin: 0 auto 20px;
	overflow: hidden;
}

.form-section {
	margin-bottom: 20px;
}

.form-heading {
	font-size: 20px;
	margin: 10px 0;
	// padding: 0 30px;
	
	// @media screen and (max-width: 767px) {
	// 	padding: 0;
	// }
}

.form-col-25 {
	float: left;
	width: 25%;
}
.form-col-50 {
	float: left;
	width: 50%;
}

@media screen and (max-width: 767px) {
	.form-mobile-50 {
		width: 50%;
	}
	.form-mobile-100 {
		width: 100%;
	}
}


.stat-table {
	border-spacing: 0;
	margin: 0 auto;
	padding: 0 30px;

	@media screen and (max-width: 767px) {
		padding: 0;
	}

	th {
		font-weight: bold;
	}
	th, td {
		min-width: 40px;
		padding: 4px;
		text-align: center;
		font-size: 16px;

		@media screen and (max-width: 1023px) {
			min-width: 0;
			font-size: 14px;
		}
		// @media screen and (max-width: 374px) {
		// 	font-size: 14px;
		// }
	}
	tr.table-sumline td {
		border-top: 1px solid #000;
	}

	td {
		&.pos {
			color: #086;
		}
		&.neg {
			color: #900;
		}
		&.neu {
			color: #555;
		}
		&.stat-total {
			font-weight: bold;
		}
	}


}

.classtree-skill-list {
	float: left;
	width: 230px;
	margin-bottom: 20px;

	@media screen and (min-width: 768px) {
		height: 196px;
	}
	@media screen and (max-width: 767px) {
		// width: 180px;
	}
}

li.selectable-skill {
	list-style: none;
	i {
		cursor: pointer;
	}

	span {
		line-height: 24px;
		cursor: pointer;

		&.selected {
			color: #0000ff;	
		}
	}
}


@import "skill-icons";





